In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import ExtraTreesClassifier

In [2]:
#Read the Dataset

In [3]:
# Loading the data
df = pd.read_csv('credit_card_detection.csv')
df

,User,Card,Year,Month,Day,Amount,UseChip,MerchantName,MerchantCity,MerchantState,Zip,MCC,IssFraud?
0,1,1,2005,9,6,$16.68,Swipe Transaction,Ross Package Store,Berkley,MI,48072.0,5921,No
1,1,1,2005,9,9,$224.70,Online Transaction,Digital Delivery Company 7,ONLINE,NaN,NaN,4899,No
2,1,1,2005,9,9,$145.61,Online Transaction,Travel Booking Company 4,ONLINE,NaN,NaN,4722,No
3,1,1,2005,9,9,$229.21,Swipe Transaction,Car Rental Company 4,Belleville,MI,48111.0,3405,No
4,1,1,2005,9,9,$11.00,Swipe Transaction,Supermarket Chain 3,Southfield,MI,48075.0,5411,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
691915,1999,4,2019,4,13,$52.42,Chip Transaction,Wright Beauticians,East Elmhurst,NY,11370.0,7230,No
691916,1999,4,2019,4,15,$7.57,Chip Transaction,Bookstore Company 1,Elmhurst,NY,11373.0,5942,No
691917,1999,4,2019,4,15,$7.27,Chip Transaction,Supermarket Chain 1,Elmhurst,NY,11373.0,5411,No
691918,1999,4,2019,4,17,$5.39,Chip Transaction,Acme Souvenirs,East Elmhurst,NY,11370.0,5947,No
691919,1999,4,2019,4,24,$15.59,Chip Transaction,Fox East Elmhurst Car Cleaners,East Elmhurst,NY,11370.0,7542,No

In [4]:
#User- column for user id details
#Card-Column for card number
#Year- column for year of transaction
#Month-column for month of transaction
#Day-column for Day of transaction
#Amount-for how much amount transacted 
#Use Chip-for transaction is based on online or swipe transaction
#Merchant name- Name of the merchant in the transaction
#Merchant city-Merchant city name in the transaction
#Merchant state-Merchant state name in the transaction
#Zip-Postal code of the merchant area
#MCC-It is a four number pin given by bank for each card
df.columns

Index(['User', 'Card', 'Year', 'Month', 'Day', 'Amount', 'UseChip',
       'MerchantName', 'MerchantCity', 'MerchantState', 'Zip', 'MCC',
       'IssFraud?'],
      dtype='object')

#Check Null values

In [5]:
df.isnull().sum()

User                 0
Card                 0
Year                 0
Month                0
Day                  0
Amount               0
UseChip              0
MerchantName         0
MerchantCity         0
MerchantState    73784
Zip              77856
MCC                  0
IssFraud?            0
dtype: int64

In [6]:
df.head()

,User,Card,Year,Month,Day,Amount,UseChip,MerchantName,MerchantCity,MerchantState,Zip,MCC,IssFraud?
0,1,1,2005,9,6,$16.68,Swipe Transaction,Ross Package Store,Berkley,MI,48072.0,5921,No
1,1,1,2005,9,9,$224.70,Online Transaction,Digital Delivery Company 7,ONLINE,NaN,NaN,4899,No
2,1,1,2005,9,9,$145.61,Online Transaction,Travel Booking Company 4,ONLINE,NaN,NaN,4722,No
3,1,1,2005,9,9,$229.21,Swipe Transaction,Car Rental Company 4,Belleville,MI,48111.0,3405,No
4,1,1,2005,9,9,$11.00,Swipe Transaction,Supermarket Chain 3,Southfield,MI,48075.0,5411,No

#Check balanced data or imbalanced data

In [9]:
df['IssFraud?'].value_counts()

IssFraud?
No     691048
Yes       872
Name: count, dtype: int64

#Split the input and output values

In [10]:
independent=df[['User', 'Card', 'Year', 'Month', 'Day','UseChip',
       'MerchantName', 'MerchantCity', 'MerchantState', 'Zip', 'MCC']]

dependent=df[['IssFraud?']]
print(independent)

        User  Card  Year  Month  Day             UseChip  \
0          1     1  2005      9    6   Swipe Transaction
1          1     1  2005      9    9  Online Transaction
2          1     1  2005      9    9  Online Transaction
3          1     1  2005      9    9   Swipe Transaction
4          1     1  2005      9    9   Swipe Transaction
...      ...   ...   ...    ...  ...                 ...
691915  1999     4  2019      4   13    Chip Transaction
691916  1999     4  2019      4   15    Chip Transaction
691917  1999     4  2019      4   15    Chip Transaction
691918  1999     4  2019      4   17    Chip Transaction
691919  1999     4  2019      4   24    Chip Transaction

                          MerchantName   MerchantCity MerchantState      Zip  \
0                   Ross Package Store        Berkley            MI  48072.0
1           Digital Delivery Company 7         ONLINE           NaN      NaN
2             Travel Booking Company 4         ONLINE           NaN      NaN
3                 Car Rental Company 4     Belleville            MI  48111.0
4                  Supermarket Chain 3     Southfield            MI  48075.0
...                                ...            ...           ...      ...
691915              Wright Beauticians  East Elmhurst            NY  11370.0
691916             Bookstore Company 1       Elmhurst            NY  11373.0
691917             Supermarket Chain 1       Elmhurst            NY  11373.0
691918                  Acme Souvenirs  East Elmhurst            NY  11370.0
691919  Fox East Elmhurst Car Cleaners  East Elmhurst            NY  11370.0

         MCC
0       5921
1       4899
2       4722
3       3405
4       5411
...      ...
691915  7230
691916  5942
691917  5411
691918  5947
691919  7542

[691920 rows x 11 columns]

#Data preprocessing

#split the numerical and categorical values

In [11]:
def quanQual(df):
    quan=[]
    qual=[]
    for columnName in df.columns:
    #print(columnName)
        if(df[columnName].dtypes=='O'):
        #print("qual")
            qual.append(columnName)
        else:
        #print("quan")
             quan.append(columnName)
    return quan,qual

In [12]:
quan,qual=quanQual(df)

In [13]:
quan

['User', 'Card', 'Year', 'Month', 'Day', 'Zip', 'MCC']

In [14]:
qual

['Amount',
 'UseChip',
 'MerchantName',
 'MerchantCity',
 'MerchantState',
 'IssFraud?']

In [15]:
import numpy as np
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy="mean",copy=True)
imp.fit(df[quan])
datan=imp.transform(df[quan])

In [16]:
datan

array([[1.00000000e+00, 1.00000000e+00, 2.00500000e+03, ...,
        6.00000000e+00, 4.80720000e+04, 5.92100000e+03],
       [1.00000000e+00, 1.00000000e+00, 2.00500000e+03, ...,
        9.00000000e+00, 5.16946769e+04, 4.89900000e+03],
       [1.00000000e+00, 1.00000000e+00, 2.00500000e+03, ...,
        9.00000000e+00, 5.16946769e+04, 4.72200000e+03],
       ...,
       [1.99900000e+03, 4.00000000e+00, 2.01900000e+03, ...,
        1.50000000e+01, 1.13730000e+04, 5.41100000e+03],
       [1.99900000e+03, 4.00000000e+00, 2.01900000e+03, ...,
        1.70000000e+01, 1.13700000e+04, 5.94700000e+03],
       [1.99900000e+03, 4.00000000e+00, 2.01900000e+03, ...,
        2.40000000e+01, 1.13700000e+04, 7.54200000e+03]])

In [17]:
datan=pd.DataFrame(datan,columns=quan)

In [18]:
import numpy as np
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan,strategy="most_frequent")
imp.fit(df[qual])
datal=imp.transform(df[qual])

In [19]:
datal

array([['$16.68', 'Swipe Transaction', 'Ross Package Store', 'Berkley',
        'MI', 'No'],
       ['$224.70', 'Online Transaction', 'Digital Delivery Company 7',
        'ONLINE', 'CA', 'No'],
       ['$145.61', 'Online Transaction', 'Travel Booking Company 4',
        'ONLINE', 'CA', 'No'],
       ...,
       ['$7.27', 'Chip Transaction', 'Supermarket Chain 1', 'Elmhurst',
        'NY', 'No'],
       ['$5.39', 'Chip Transaction', 'Acme Souvenirs', 'East Elmhurst',
        'NY', 'No'],
       ['$15.59', 'Chip Transaction', 'Fox East Elmhurst Car Cleaners',
        'East Elmhurst', 'NY', 'No']], dtype=object)

In [20]:
datal=pd.DataFrame(datal,columns=qual)

In [21]:
df=pd.concat([datan,datal],axis=1)

In [22]:
csv=df.to_csv("Preprocessed_credit_card_detection.csv",index=False)

In [23]:
csv