In [1]:
import pandas as pd

#Preprocessed dataset

In [2]:
df=pd.read_csv("Preprocessed_credit_card_detection.csv")
df

,User,Card,Year,Month,Day,Zip,MCC,Amount,UseChip,MerchantName,MerchantCity,MerchantState,IssFraud?
0,1.0,1.0,2005.0,9.0,6.0,48072.000000,5921.0,$16.68,Swipe Transaction,Ross Package Store,Berkley,MI,No
1,1.0,1.0,2005.0,9.0,9.0,51694.676895,4899.0,$224.70,Online Transaction,Digital Delivery Company 7,ONLINE,CA,No
2,1.0,1.0,2005.0,9.0,9.0,51694.676895,4722.0,$145.61,Online Transaction,Travel Booking Company 4,ONLINE,CA,No
3,1.0,1.0,2005.0,9.0,9.0,48111.000000,3405.0,$229.21,Swipe Transaction,Car Rental Company 4,Belleville,MI,No
4,1.0,1.0,2005.0,9.0,9.0,48075.000000,5411.0,$11.00,Swipe Transaction,Supermarket Chain 3,Southfield,MI,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
691915,1999.0,4.0,2019.0,4.0,13.0,11370.000000,7230.0,$52.42,Chip Transaction,Wright Beauticians,East Elmhurst,NY,No
691916,1999.0,4.0,2019.0,4.0,15.0,11373.000000,5942.0,$7.57,Chip Transaction,Bookstore Company 1,Elmhurst,NY,No
691917,1999.0,4.0,2019.0,4.0,15.0,11373.000000,5411.0,$7.27,Chip Transaction,Supermarket Chain 1,Elmhurst,NY,No
691918,1999.0,4.0,2019.0,4.0,17.0,11370.000000,5947.0,$5.39,Chip Transaction,Acme Souvenirs,East Elmhurst,NY,No
691919,1999.0,4.0,2019.0,4.0,24.0,11370.000000,7542.0,$15.59,Chip Transaction,Fox East Elmhurst Car Cleaners,East Elmhurst,NY,No

In [3]:
df.columns

Index(['User', 'Card', 'Year', 'Month', 'Day', 'Zip', 'MCC', 'Amount',
       'UseChip', 'MerchantName', 'MerchantCity', 'MerchantState',
       'IssFraud?'],
      dtype='object')

In [4]:
df["IssFraud?"].value_counts()

IssFraud?
No     691048
Yes       872
Name: count, dtype: int64

In [5]:
df.isnull().sum()

User             0
Card             0
Year             0
Month            0
Day              0
Zip              0
MCC              0
Amount           0
UseChip          0
MerchantName     0
MerchantCity     0
MerchantState    0
IssFraud?        0
dtype: int64

In [6]:
independent=df[['User', 'Card', 'Year', 'Month', 'Day', 'Amount', 'UseChip',
       'MerchantName', 'MerchantCity', 'MerchantState', 'Zip', 'MCC']]
independent

,User,Card,Year,Month,Day,Amount,UseChip,MerchantName,MerchantCity,MerchantState,Zip,MCC
0,1.0,1.0,2005.0,9.0,6.0,$16.68,Swipe Transaction,Ross Package Store,Berkley,MI,48072.000000,5921.0
1,1.0,1.0,2005.0,9.0,9.0,$224.70,Online Transaction,Digital Delivery Company 7,ONLINE,CA,51694.676895,4899.0
2,1.0,1.0,2005.0,9.0,9.0,$145.61,Online Transaction,Travel Booking Company 4,ONLINE,CA,51694.676895,4722.0
3,1.0,1.0,2005.0,9.0,9.0,$229.21,Swipe Transaction,Car Rental Company 4,Belleville,MI,48111.000000,3405.0
4,1.0,1.0,2005.0,9.0,9.0,$11.00,Swipe Transaction,Supermarket Chain 3,Southfield,MI,48075.000000,5411.0
...,...,...,...,...,...,...,...,...,...,...,...,...
691915,1999.0,4.0,2019.0,4.0,13.0,$52.42,Chip Transaction,Wright Beauticians,East Elmhurst,NY,11370.000000,7230.0
691916,1999.0,4.0,2019.0,4.0,15.0,$7.57,Chip Transaction,Bookstore Company 1,Elmhurst,NY,11373.000000,5942.0
691917,1999.0,4.0,2019.0,4.0,15.0,$7.27,Chip Transaction,Supermarket Chain 1,Elmhurst,NY,11373.000000,5411.0
691918,1999.0,4.0,2019.0,4.0,17.0,$5.39,Chip Transaction,Acme Souvenirs,East Elmhurst,NY,11370.000000,5947.0
691919,1999.0,4.0,2019.0,4.0,24.0,$15.59,Chip Transaction,Fox East Elmhurst Car Cleaners,East Elmhurst,NY,11370.000000,7542.0

In [7]:
dependent=df[['IssFraud?']]
dependent

       IssFraud?
0             No
1             No
2             No
3             No
4             No
...          ...
691915        No
691916        No
691917        No
691918        No
691919        No

[691920 rows x 1 columns]

#Using undersampling balance the data

In [8]:
from imblearn.under_sampling import RandomUnderSampler
ros=RandomUnderSampler(random_state=42)
x_ros,y_ros=ros.fit_resample(independent,dependent)

In [9]:
x_ros.shape

(1744, 12)

In [10]:
y_ros.value_counts()

IssFraud?
No           872
Yes          872
Name: count, dtype: int64

In [11]:
x_ros

,User,Card,Year,Month,Day,Amount,UseChip,MerchantName,MerchantCity,MerchantState,Zip,MCC
609890,1750.0,0.0,2015.0,7.0,16.0,$21.42,Swipe Transaction,Lukass Theaters,Tiffin,OH,44883.000000,7832.0
677647,1959.0,1.0,2016.0,5.0,5.0,$76.99,Chip Transaction,Jadens Wholesale,Lancaster,CA,93535.000000,5300.0
59562,182.0,2.0,2012.0,11.0,23.0,$2.19,Swipe Transaction,Supermarket Chain 3,Houston,TX,77096.000000,5411.0
155077,458.0,2.0,2019.0,5.0,15.0,$45.73,Chip Transaction,Supermarket Chain 3,Flint,MI,48532.000000,5411.0
674259,1949.0,0.0,2018.0,1.0,4.0,$1.25,Chip Transaction,Convenience Store Chain 1,Brooklyn,NY,11213.000000,5499.0
...,...,...,...,...,...,...,...,...,...,...,...,...
691161,1998.0,2.0,2013.0,1.0,26.0,$193.24,Swipe Transaction,Neufelder Tegucigalpa Wine and Liquor,Tegucigalpa,Honduras,51694.676895,5921.0
691871,1999.0,3.0,2020.0,1.0,26.0,$221.96,Swipe Transaction,Abrils Wholesale,Saint Louis,MO,63146.000000,5300.0
691872,1999.0,3.0,2020.0,1.0,26.0,$26.69,Swipe Transaction,Abrils Wholesale,Saint Louis,MO,63146.000000,5300.0
691873,1999.0,3.0,2020.0,1.0,26.0,$103.95,Chip Transaction,Cox Saint Louis Restaurant,Saint Louis,MO,63146.000000,5812.0
691874,1999.0,3.0,2020.0,1.0,26.0,$0.24,Online Transaction,Digital Content Company 2,ONLINE,CA,51694.676895,5815.0

#Now save the balanced data in a csv file

In [12]:
# Convert the undersampled arrays to a Pandas DataFrame
undersampled_data = pd.DataFrame(data=x_ros, columns=independent.columns)

# Add the 'dependent' variable as a new column to the DataFrame
undersampled_data['target'] = y_ros

# Replace 'undersampled_data.csv' with the desired filename
output_file = 'undersampled_data.csv'

# Save the DataFrame to a new CSV file
undersampled_data.to_csv(output_file, index=False)

print(f"Undersampled data has been saved to {output_file}.")

Undersampled data has been saved to undersampled_data.csv.